.App {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 20px;
}

.Header nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1040px;
  margin: 0 auto;
}

.Header nav a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 10px;
  text-decoration: underline;
}

.Header nav a:hover {
  color: green;
}

.SignupForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.Loginform label {
  margin-bottom: 5px;
}

.SignupForm input, .SignupForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}